*.suo
*.suo
.vs/TypeScriptHTMLApp1/vbcs.cache/edb.chk
*.log
.vs/TypeScriptHTMLApp1/vbcs.cache/edbres00001.jrs
*.jrs
*.suo
.vs/TypeScriptHTMLApp1/vbcs.cache/edbtmp.log
*.DS_Store
.vs/TypeScriptHTMLApp1/v14/.suo
*.suo