body {
    font-family: 'Segoe UI', sans-serif;
}

.name {
	width: 100%;
}

.children {
    margin-left: 30px;
}

.todo {
    border: 1px solid #f3f3f3;
}

.todo-content {
    color: gray;
}

a {
    text-decoration: none;
    color: blue;
    cursor: pointer;
}

.todo-done {
    text-decoration: line-through;
}

.todo-header {
	font-size: 1.5em;
}

.selected {
    border-left: 2px solid black;
}

.invisible {
    display: none;
}

.keyboard-shortcuts {
    position: fixed;
    border: 1px solid #f3f3f3;
    bottom: 0;
    right: 0;
    width: 20%;
    background: white;
}

    .keyboard-shortcuts .exit {
        float: right;
    }

.name-edit, .content-edit {
	width: 90%;
}

.dragged-over-as-child {
	background: #f3f3f3;
}

.dragged-over-as-child:after {
	display: block;
	content: '';
	border-bottom: 4px solid gray;
	margin-left: 20px;
}

.dragged-over {
	background: #f3f3f3;
	border-bottom: 4px solid gray;
}

.right-panel {
	margin-top: 20px;
}

.right-panel-name {
	font-size: 1.5em;
}

.right-panel-time {
	font-size: .8em;
}