.title {
    color: #fff;
    font-family: 'Open Sans', sans-serif;

    background-color: rgb(114, 161, 194);

    margin-bottom: 10px;
    font-weight: 500;
    -moz-box-shadow: 3px -3px 5px 6px #ccc;
    -webkit-box-shadow: 3px -3px 5px 6px #ccc;
    box-shadow: 3px -3px 5px 6px #ccc;
}

.title-content {
    padding-left: 20px;
    font-size: 1.5em;
}

.title-content i {
    text-shadow: 1px 1px #255D64;
}

.title-text {
    padding-left: 10px;
    letter-spacing: -1px;
}

.title-below {
    background-color: #6E96B8;
    height: 3px;
}

body {
    margin-bottom: 30px;
    color: #595959;
}

.name {
	width: 100%;
}

.children {
    margin-left: 30px;
}

.todo {
    font-family: 'Open Sans', sans-serif;
    border-left: 1px solid #ddd;
    padding-left: 3px;
}

.todo-content {
    color: #707070;
    padding-bottom: 10px;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.toolbar {
    padding: 1px;
    border: 1px solid #8D8D8D;
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
    font-size: small;
    font-weight: 400;
    border-radius: 3px;
    box-shadow: 1px 1px 6px rgba(105, 105, 105, 0.27);
    margin-left: 10px;
    float: right;
}

.toolbar a {
    color: #999;
    text-decoration: none;
}

    .toolbar a:hover {
        color: #000;
        text-decoration: none;
    }


.todo-done {
    text-decoration: line-through;
}

.todo-name-content .fa-star {
    color: rgb(194, 75, 75);
}

.todo-header {
	font-size: 1.5em;
}

.selected {
    border-left: 1px solid #777;
    color: #222;
}

.invisible {
    display: none;
}

.keyboard-shortcuts {
    position: fixed;
    border: 1px solid #f3f3f3;
    bottom: 0;
    right: 0;
    width: 20%;
    background: white;
}

    .keyboard-shortcuts .exit {
        float: right;
    }

.name-edit, .content-edit {
	width: 90%;
}

.dragged-over-as-child {
	background: #f3f3f3;
}

.dragged-over-as-child:after {
	display: block;
	content: '';
	border-bottom: 4px solid gray;
	margin-left: 20px;
}

.dragged-over {
	background: #f3f3f3;
	border-bottom: 4px solid gray;
}

.right-panel {
	margin-top: 20px;
}

.right-panel-name {
	font-size: 1.5em;
}

.time {
	font-size: .8em;
	font-style: italic;
    color: lightgray;
}

.whole-todo-container {
    margin-bottom: 300px;
}

.hide {
    display: none;
}

.footer {
   border-top: 1px solid rgb(237, 237, 237);
   position: fixed;
   left: 0px;
   bottom: 0px;
   height: 35px;
   width: 100%;
   background: #F8F8F8;
}

.todo-archive-list {
    list-style-type: none;
}

.hidden-ellipses {
    border: 1px solid #8D8D8D;
    border-radius: 3px;
    padding-right: 4px;
    padding-left: 4px;
    margin-left: 5px;
}

.hidden-ellipses:hover {
    border: 1px solid black;
}

.search-input {
    color: black;
    margin-top: 3px;
    font-size: 14px;
}

.search-result-parent {
    color: lightgray;
}

.search-match {
    background-color: lightcyan;
}

.first-match {
    font-weight: bold;
}

.autocomplete {
    position: absolute;
    background: white;
    width: 80%;
    z-index: 100;
    color: black;
    margin-top: 10px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 4px #ccc;
    border-radius: 4px;
    padding-top: 3px;
}

.autocomplete-item {
    padding-left: 10px;
    padding-top: 5px;
}

.autocomplete-heading {
    text-align: center;
    position: relative;
    color: rgb(48, 48, 48);
    font-size: 16px;
    margin: 0 5px 0 5px;
}

.autocomplete-heading span {
  background: #fff;
  padding: 0 8px;
  position: relative;
  z-index: 1;
}

.autocomplete-heading:before {
  background: #ddd;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
    top: 50%;
  width: 100%;
}

.autocomplete-heading:before {
  left: 0;
}

.autocomplete-item-content {
    color: #bbb;
}

.autocomplete-match {
    font-weight: bold;
}

.autocomplete-match-content {
    color: #333;
}

.kbd-shortcut {
    border: 1px solid #D2D2D2;
    font-size: 11px;
    float: right;
    margin-right: 10px;
    padding: 0 5px 0 5px;
    color: #6A6A6A;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.autocomplete-bottom-bar {
    margin-top: 15px;
    text-align: center;
    border-top: 1px solid rgb(204, 204, 204);
    background-color: #F6F6F6;
    padding: 1px;
}

.autocomplete-bottom-bar a {
    color: rgb(92, 92, 92);
}