body {
    font-family: 'Segoe UI', sans-serif;
}

.children {
    margin-left: 30px;
}

.todo {
    border: 1px solid #f3f3f3;
}

.todo-content {
    color: gray;
}

a {
    text-decoration: none;
    color: blue;
    cursor: pointer;
}

.todo-done {
    text-decoration: line-through;
}

.selected {
    border-left: 2px solid black;
}

.invisible {
    display: none;
}